* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

body {
    background-color: #d9dcd6;
}
/* Nav Bar */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;   
}
/* Horiseon head Nav bar*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Header Nav bar */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
 /* Na bar ul */ 
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Text color and decoration ul*/
a {
    color: #ffffff;
    text-decoration: none;
}
/* main page image office meeting*/ 
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* content blocks on the left hand side*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* font size for paragraphs in the content blocks*/ 
p {
    font-size: 16px;
}
h2  {
    margin-bottom: 20px;
    font-size: 36px;
}
.content img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}
.content-box {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #08659e;
    color: #ffffff;
}
/* content box for online repitation management */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #08659e;
    color: #ffffff;
}
/*Image for content box online repitation management*/
.online-reputation-management img {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}
/* aside box for lead Generation, Brand awareness and cost managment */
.aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #08659e;   
}
/*aside content */
.aside-content {
    margin-bottom: 32px;
    color: #ffffff;
}
/*aside coontent h3*/
.aside-content h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*aside content for images*/
.aside-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px; 
}
/* for the footer layout*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


