* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Nav Bar */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Horiseon head Nav bar*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Hearder Nav bar */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Nav bar ul SEO, ORM, SMM, */
.header div ul {
    list-style-type: none;
}
 /* Na bar ul */ 
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Text color and decoration ul*/
a {
    color: #ffffff;
    text-decoration: none;
}
/* main page image office meeting*/ 
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* content blocks on the left hand side*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* font size for paragraphs in the content blocks*/ 
p {
    font-size: 16px;
}
/* content box for search engine optimization */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #08659e;
    color: #ffffff;
}
/* Image height for content box search engine optimization */
.search-engine-optimization img {
    max-height: 200px;
}
/* h2 search engine optimization content box */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* content box for online repitation management */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #08659e;
    color: #ffffff;
}
/* image height content box for online repitation management */
.online-reputation-management img {
    max-height: 200px;
}
/* h2 header for content box online repitation management */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* content box for social media marketing */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #08659e;
    color: #ffffff;
}
/* image for content box social media marketing */
.social-media-marketing img {
    max-height: 200px;
}
/* h2 hearder for content box social media marketing */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* for contents boxes Social media marketing and Search engine Optimation */
.float-left {
    float: left;
    margin-right: 25px;
}
/* for contents box online reputation marketing*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* aside box for lead Generation, Brand awareness and cost managment */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #08659e;
    
}
/* layout for benefit lead */ 
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* layout for benefit lead h3 */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* layout for benefit lead image*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* layout for benfit brand*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* layout for benfit brand h3*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* layout for benfit brand img*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* layout for benfit cost */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* layout for benfit cost h3 */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* layout for benfit cost img*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* for the footer layout*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


